<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='Styles/style.css') }}">
</head>
<body>
    <h1>{{ role|capitalize }} Login</h1>
    <form id="login-form">
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Login</button>
        <span>Don't have an account? <a href="{{url_for('signup_page')}}">Register</a></span>
    </form>
    <p id="error-message"></p> 

    <script>
        document.getElementById('login-form').addEventListener('submit', function(event) {
            event.preventDefault(); 

            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;

            fetch('/api/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({
                    'email': email,
                    'password': password,
                })
            })
            .then(response => {
                if (response.ok) {
                    return response.text().then(url => {
                        window.location.href = url; 
                    });
                } else {
                    return response.text().then(errorMessage => {
                        document.getElementById('error-message').textContent = errorMessage || 'Login failed. Please try again.';
                    });
                }
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById('error-message').textContent = 'An error occurred. Please try again later.';
            });
        });
    </script>
</body>
</html>

