<!DOCTYPE html>
<html>
<head>
    <title>Manager Page</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='Styles/style.css') }}">
</head>
<body>
    <h1>Beneficiary and Loan Management</h1>
    <button onclick="location.href='beneficiary_profiles.html'">Beneficiary Profiles</button>
    <button onclick="location.href='loan_management.html'">Loan Management</button>
    <button onclick="location.href='system_settings.html'">System Settings</button>
</body>
</html>