<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organizer Page</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='Styles/style.css') }}">
</head>
<body>
    <h1>Welcome</h1>
    <div class="content">
        <button onclick="location.href='loan_requests.html'">Loan Requests</button>
        <button onclick="location.href='notifications.html'">Notifications</button>
        <button onclick="location.href='system_settings.html'">System Settings</button>
        <button onclick="location.href='beneficiary_loan_management.html'">Beneficiary Loan Management</button>
    </div>
</body>
</html>